# macOS
.DS_Store
**/.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Editors / IDEs
.idea/
.vscode/
*.swp

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
*.log

# Environment / secrets
.env
.env.local
